[Unit]
Description=Install MacBook Pro Cirrus Audio Driver

[Service]
Type=oneshot
ExecStart=/usr/lib/snd_hda_macbookpro-master/install.cirrus.driver.sh --install
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target